<div class="container card my-3">
    <div class="card-body">
      <h3 class="card-title">About Todo App</h3>

      <p class="card-text">
        This Todo Application allows users to create, manage, and organize daily tasks.
      </p>

      <h5>Features</h5>
      <ul>
        <li>✔ Add Todo</li>
        <li>✔ Delete Todo</li>
        <li>✔ Mark as Complete</li>
        <li>✔ Local Storage Support</li>
      </ul>

      <p class="text-muted">
        Developed using Angular, TypeScript, Bootstrap, HTML, and CSS.
      </p>
    </div>
</div>