.TodoStyle {
    background-color: #282c3486;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap : 15px;
    padding: 15px;
    border-radius: 5px;
}

.TodoStyle button {
    background-color: red;
    color:white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}